* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.6;
}

body {
  color: #fff;
  background-color: #000;
  font-family: "Oswald";
  min-height: 100vh;
}

.contenedor {
  width: 90%;
  margin: 10px auto;
}

.navegacion-principal {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15pxpx;
  margin-top: 15px;
  margin-bottom: 15px;
}

.navegacion-principal__marca {
  display: flex;
  justify-content: flex-start;
}

.navegacion-principal__marca img {
  border: 1px black;
  width: 50px;
  height: 25px;
}

.navegacion-principal__menu {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100%;
  gap: 10pxpx;
}

.navegacion-principal__menu a {
  color: #fff;
  text-decoration: none;
  height: 10px;
  padding: 15px;
}

.navegacion-principal__menu a:hover {
  color: #f09319;
}

li {
  list-style: none;
  text-align: center;
  color: #fff;
}

.navegacion-principal__menu-derecha {
  display: flex;
  justify-content: flex-end;
}

.fa-search {
  color: #fff;
}

.cabecera {
  height: 200px;
  width: 100%;
  background: #373a40;
  background-image: url("../Assets/imagenes/portadacod.png");
  background-blend-mode: overlay;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: #272829;
  padding: 20px 20px;
  margin: 15px 0px 10px 0px;
}

.boton {
  background-color: #394457;
  color: #fff;
  text-decoration: none;
}

.boton:hover {
  background-color: #f09319;
}

.fas {
  /* Clase para cambiar color a la flecha */
  color: #fff;
}

.tarjetas-noticias {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* justify-items: stretch; */
  gap: 15px;
  /* width: 100%; */
  height: auto;
  /* margin: 10px auto; */
}

.tarjetas-noticias__tarjeta {
  display: grid;
  grid-column: repeat(3,1fr);
  justify-items: center;
  width: 100%;
  height: auto;
  gap: 10px;
}

.tarjetas-noticias__tarjeta>h3,
p {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: auto;
  /* margin-top: 20px; */
}

.tarjetas-noticias__tarjeta>a {
  display: flex;
  justify-items: center;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  width: 100%;
  gap: 10px;
}

.tarjetas-noticias__tarjeta img {
  display: flex;
  justify-content: space-between;
  align-content: space-around;
  width: 100%;
  height: 150px;
  gap: 15px;
  object-fit: fill;
  /*Evita que la imagen se distorcione*/
  margin-top: 10px;
  background-blend-mode: overlay;
  background-size: cover;
}

.boton {
  color: #fff;
}

.tarjetas-noticias-dos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  height: auto;
}

.tarjetas-noticias__tarjeta-dos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  max-height: 400px;
  /* Se agrego altura maxima de 400px al contenedor */
  align-items: center;
  text-decoration: none;
  /* Centrar h3 y enlaces */
}

.tarjetas-noticias__tarjeta-dos img {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  width: 100%;
  height: 200px;
  gap: 15px;
  object-fit: content;
  /*Evita que la imagen se distorcione*/
  margin-bottom: 10px;
}

.tarjetas-noticias__tarjeta-dos>a {
  display: flex;
  justify-items: center;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  width: 100%;
  gap: 10px;
}

.tarjetas-noticias__tarjeta>a:hover {
  color: #f09319;
}

.tarjetas-noticias__tarjeta-dos>a:hover {
  color: #f09319;

}

.banner-tarjetas-uno {
  height: 200px;
  background: #373a40;
  background-image: url("../Assets/imagenes/portadacod.png");
  background-blend-mode: overlay;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: #272829;
  padding: 10px 20px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.banner-tarjetas-dos {
  height: 200px;
  background: #373a40;
  background-image: url("../Assets/imagenes/portadacod.png");
  background-blend-mode: overlay;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: #272829;
  padding: 10px 20px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.social {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 20px;
  height: 100px;
  gap: 10px;
}

.social p {
  font-size: 15px;
}

.social__enlaces {
  text-align: center;
  font-size: 35px;
  gap: 10px;
}

.social__enlaces a {
  text-decoration: none;

}

.social__enlaces i {
  margin-top: 10px;
  color: #fff;
}

.fa-facebook-f,
.fab fa-linkedin {
  text-decoration: none;
}

.fa-playstation {
  color: rgb(0, 112, 209);
  font-size: 20px;
}

.fa-xbox {
  color: #107c10;
  font-size: 20px;

}

.enlaces-pie__lista {
  text-decoration: none;
  list-style: none;
}

.enlaces-pie {
  background-color: grey;
}

.enlaces-pie__contenedor {
  display: flex;
  /* flex-direction: column; ultimo cambio agregado */
  padding: 20px;
  gap: 20px;
  text-align: center;
  width: 100%;
  justify-content: space-around;
}

.enlaces-pie__contenedor a {
  text-decoration: none;
  color: #fff;
  font-size: 10px;
}

/* ultimo cambio agregado
.enlaces-pie__contenedor a h3 {
  gap: 5px;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
} */

.pie h3 {
  text-decoration: none;
  color: #bdb8b8;
  font-size: 10px;
  padding: 10px;
}

.pie {
  background-color: grey;
  width: 100%;
  font-size: 15px;
}

.enlaces-pie__lista,
.enlaces-pie__lista h3 {
  /* display: flex;
  justify-content: space-between; */
  align-items: center;
  color: #fff;
}

.pie h3 {
  text-align: center;
}

/* Pagina Sobre Nosotros */

.creadores {
  display: flex;
  gap: 10px;
  text-align: center;
  margin: 20px auto;
  justify-content: space-around;
  background-image: url("../Assets/imagenes/portadacod.png");
  background-blend-mode: overlay;
  background-size: cover;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: #272829;
  padding: 40px 20px;
  margin-bottom: 10px;
  margin-top: 15px;
  border-radius: 8px;
}

.creadores h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tarjeta-creador {
  background-color: gray;
  height: 600px;
  width: 40%;
  margin: 20px auto;
  border-radius: 20px;
}

.tarjeta-creador img {
  border: 1px solid black;
  border-radius: 60%;
  box-shadow: 4px 4px 10px #373a40;
  margin: 20px;
  height: 150px;
  width: 150px;
  object-fit: contain;
}