* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.6;
}

body {
  color: #fff;
  background-color: #000;
  font-family: "Oswald";
  min-height: 100vh;
}

.background-audio {
  display: none;
}

.contenedor {
  width: 90%;
  margin: 10px auto;
}

.navegacion-principal {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15pxpx;
  margin-top: 15px;
  margin-bottom: 15px;
}

.navegacion-principal__marca {
  display: flex;
  justify-content: flex-start;
}

.navegacion-principal__marca img {
  border: 1px black;
  width: 50px;
  height: 25px;
}

.navegacion-principal__menu {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100%;
  gap: 10pxpx;
}

.navegacion-principal__menu a {
  color: #fff;
  text-decoration: none;
  height: 10px;
  padding: 15px;
}

.navegacion-principal__menu a:hover {
  color: #f09319;
}

li {
  list-style: none;
  text-align: center;
  color: #fff;
}

.navegacion-principal__menu-derecha {
  display: flex;
  justify-content: flex-end;
}

.fa-search {
  color: #fff;
}

.cabecera {
  height: 200px;
  width: 100%;
  background: #373a40;
  background-image: url("../Assets/imagenes/portadacod.png");
  background-blend-mode: overlay;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: #272829;
  padding: 20px 20px;
  margin: 15px 0px 10px 0px;
}

.boton {
  background-color: #394457;
  color: #fff;
  text-decoration: none;
}

.boton:hover {
  background-color: #f09319;
}

.fas {
  /* Clase para cambiar color a la flecha */
  color: #fff;
}

.tarjetas-noticias {
  display: flex;
  /* justify-items: stretch; */
  gap: 15px;
  /* width: 100%; */
  height: 100%;
  /* margin: 10px auto; */
}

.tarjetas-noticias__tarjeta {
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 10px;
}

.tarjetas-noticias__tarjeta > h3,
p {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: auto;
  /* margin-top: 20px; */
}

.tarjetas-noticias__tarjeta > a {
  display: flex;
  justify-items: center;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  width: 100%;
  gap: 10px;
}

.video {
  display: flex;
  justify-content: space-between;
  align-content: space-around;
  width: 100%;
  height: 150px;
  gap: 15px;
  object-fit: fill;
  /* /Evita que la imagen se distorcione/ */
  margin-top: 10px;
  background-blend-mode: overlay;
  background-size: cover;
}

.tarjetas-noticias__tarjeta img {
  display: flex;
  justify-content: space-between;
  align-content: space-around;
  width: 100%;
  height: 150px;
  gap: 15px;
  object-fit: fill;
  /* /Evita que la imagen se distorcione/ */
  margin-top: 10px;
  background-blend-mode: overlay;
  background-size: cover;
}

.boton {
  color: #fff;
}

.tarjetas-noticias-dos {
  display: flex;
  gap: 15px;
  height: auto;
  text-align: center;
}

.tarjetas-noticias__tarjeta-dos {
  max-height: 400px;
  /* Se agrego altura maxima de 400px al contenedor */
  align-items: center;
  text-decoration: none;
  /* Centrar h3 y enlaces */
}

.tarjetas-noticias__tarjeta-dos img {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  width: 100%;
  height: 200px;
  gap: 15px;
  object-fit: content;
  /* /Evita que la imagen se distorcione/ */
  margin-bottom: 10px;
}

.tarjetas-noticias__tarjeta-dos > a {
  display: flex;
  justify-items: center;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  width: 100%;
  gap: 10px;
}

.tarjetas-noticias__tarjeta > a:hover {
  color: #f09319;
}

.tarjetas-noticias__tarjeta-dos > a:hover {
  color: #f09319;
}

.banner-tarjetas-uno,
.banner-tarjetas-dos {
  height: 200px;
  background: transparent;
  background-image: url("../Assets/imagenes/portadacod.png");
  background-blend-mode: overlay;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: #272829;
  padding: 10px 20px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.social {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 20px;
  height: 100px;
  gap: 10px;
}

.social p {
  font-size: 15px;
}

.social__enlaces {
  text-align: center;
  font-size: 35px;
  gap: 10px;
}

.social__enlaces a {
  text-decoration: none;
}

.social__enlaces i {
  margin-top: 10px;
  color: #fff;
}

.fa-facebook-f,
.fab fa-linkedin {
  text-decoration: none;
}

.fa-playstation {
  color: rgb(0, 112, 209);
  font-size: 20px;
}

.fa-xbox {
  color: #107c10;
  font-size: 20px;
}

.enlaces-pie__lista {
  text-decoration: none;
  list-style: none;
}

.enlaces-pie {
  background-color: grey;
}

.enlaces-pie__contenedor {
  display: flex;
  flex-direction: row;
  padding: 20px;
  gap: 20px;
  text-align: center;
  width: 100%;
  justify-content: space-around;
}

.enlaces-pie__contenedor a {
  text-decoration: none;
  color: #fff;
  font-size: 10px;
}

.pie {
  text-align: center;
  background-color: grey;
  width: 100%;
  font-size: 15px;
}

.creadores {
  display: grid;
  grid-template-columns: 1fr;
  /* Dos columnas de igual tamaño */
  gap: 10px;
  /* Espaciado entre las tarjetas */
  max-height: 100%;
  /* Altura del contenedor */
  width: 100%;
  /* Ancho completo */
  text-align: center;
  margin: 10px auto;
  background-image: url("../Assets/imagenes/portadacod.png");
  background-blend-mode: overlay;
  background-size: cover;
  background-attachment: fixed;
  padding: 40px 20px;
  margin-bottom: 10px;
}

.creadores h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #272829;
}

/* sE INTRODUCEN LAS DOS TARJETAS DENTRO DE UN DIV PARA CONTROLAR EL CONTENIDO DE FORMA HOMOGENEA */
.contenido-creadores {
  display: flex;
  justify-items: center;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  /* Fondo opcional */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 100%;
}

.tarjeta-creador {
  display: flex;
  /* Cambia de grid a flex para simplificar la alineación */
  flex-direction: column;
  /* Asegura que el contenido se apile verticalmente */
  justify-content: center;
  /* Centra verticalmente */
  align-items: center;
  /* Centra horizontalmente */
  height: 100%;
  /* Asegura que ambas tarjetas tengan la misma altura */
  width: 100%;
  /* Ancho completo */
  margin: 0;
  /* Elimina márgenes adicionales */
  border-radius: 20px;
  /* Bordes redondeados */
  padding: 20px;
  /* Espaciado interno */
  background-color: rgba(255, 255, 255, 0.8);
  /* Fondo opcional */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  /* Sombra para mejor diseño */
}

.tarjeta-creador p,
.tarjeta-creador h3,
.tarjeta-creador h4,
.contenido-descripcion p,
.contenido-descripcion h3 {
  /*agregue esto para darle color a sobre la pagina - Brandon 12/12/2024*/
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-color: rgba(255, 255, 255, 0.5);
  color: #272829;
  width: 100%;
  max-height: 100%;
  margin: 0px auto;
  padding: 15px;
}

.tarjeta-creador p:hover,
.tarjeta-creador h3:hover,
.tarjeta-creador h4:hover,
.contenido-descripcion h3:hover,
.contenido-descripcion p:hover {
  color: #000;
}

.tarjeta-creador img {
  border: 1px solid black;
  border-radius: 60%;
  box-shadow: 4px 4px 10px #373a40;
  margin: 20px;
  height: 150px;
  width: 150px;
  object-fit: contain;
}

/* <<<<<<< HEAD */
/* Sobre Nuestra Pagina */

.tarjeta-descripcion {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background: #373a40;
  background-image: url("../Assets/imagenes/portadacod.png");
  background-blend-mode: overlay;
  background-size: cover;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: #272829;
  width: 100%;
  max-height: 100%;
  padding: 15px 5px;
}

.contenido-descripcion {
  height: 98%;
  /* Asegura que ambas tarjetas tengan la misma altura */
  width: 98%;
  /* Ancho completo */
  margin: 20 auto;
  /* Elimina márgenes adicionales */
  /* border-radius: 20px;Bordes redondeados */
  padding: 20px;
  /* Espaciado interno */
  background-color: rgba(255, 255, 255, 0.8);
  /* Fondo opcional */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  /* Sombra para mejor diseño */
}

.contenido-descripcion h3 {
  border-radius: 20px 20px 0 0;
}

.contenido-descripcion p {
  border-radius: 0 0 20px 20px;
}

.dividir {
  background: #373a40;
  background-image: url("../Assets/imagenes/portadacod.png");
  background-blend-mode: overlay;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  max-width: 100%;
  max-height: 100%;
}

.aside {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  overflow: hidden;
  text-align: left;
  text-shadow: #272829;
  padding: 20px 20px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  /* Fondo opcional */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  /* Sombra para mejor diseño */
}

.Form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  text-shadow: #272829;
  max-width: 100%;
  max-height: 100%;
  padding: 15px 5px;
  margin-top: 40px;
  gap: 20px;
  color: #272829;
  background-color: rgba(255, 255, 255, 0.8);
  /* Fondo opcional */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  /* Sombra para mejor diseño */
}

.textarea {
  resize: none;
  width: 100%;
  height: 400px;
}

/* .volumen{
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 50px;
  margin-top: 20px;
  height: 50%;
  gap: 20px;
}  */

.tarjeta-declaracion {
  background: #373a40;
  background-image: url("../Assets/imagenes/portadacod.png");
  background-blend-mode: overlay;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  text-align: left;
  color: #fff;
  text-shadow: #272829;
  padding: 20px 20px;
  /* margin: 15px 0px 10px 0px; */
  height: 100%;
}

.contenido-declaracion {
  display: flex;
  flex-direction: column;
  justify-content: left;
  background-color: rgba(255, 255, 255, 0.5);
  color: #272829;
  width: 100%;
  max-height: 100%;
  text-align: left;
  text-decoration: none;
  margin: 0px auto;
  margin-top: 20px;
  padding: 15px;
}

/* Usamos IA para poder realizar una ventana emergente que nos permitiera ver los terminos y condisiones que requeriamos */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  /* Inicialmente no visible */
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease-in-out;
}

/* Contenido del modal */
.modal-content {
  background: #272829;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  max-width: 80%;
  text-align: center;
  padding: 20px;
  letter-spacing: 1.5px;
}

/* Botón cerrar */
.close {
  display: block;
  margin: 0 auto;
  /* Esto lo centra horizontalmente al como hacemos con las paginas normalmente */
  width: 20%;
  background: #ff5555;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

/* Mostrar el modal cuando el checkbox está marcado */
#show-modal:checked ~ .modal {
  visibility: visible;
  opacity: 1;
}

/* Ocultar el checkbox */
#show-modal {
  display: none;
}

/* Botón que abre el modal */
.open-modal {
  background: #373a40;
  background-image: url("../Assets/imagenes/portadacod.png");
  background-blend-mode: overlay;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  text-align: center;
  margin: 0 auto;
  /* background: #007bff; */
  /*color: #fff; */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
}

.subrayar {
  text-decoration: underline;
}

.subrayar:hover {
  color: #dc143c;
}

.button {
  display: block;
  margin: 0 auto;
  /* Esto lo centra horizontalmente al como hacemos con las paginas normalmente */
  width: 20%;
  background: #ff5555;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.FAQ {
  display: flex;
  flex-direction: row;
  text-align: left;
  font-size: 30px;
  color: #272829;
}

.videoFAQ {
  display: flex;
  /* justify-content: space-between; */
  /* align-content: space-around; */
  width: 100%;
  max-height: 400px;
  height: 100%;
  gap: 15px;
  object-fit: fill;
  /* /Evita que la imagen se distorcione/ */
  margin-top: 10px;
  background-blend-mode: overlay;
  background-size: cover;
  gap: 20px;
}

.FAQP {
  display: flex;
  flex-direction: row;
  text-align: justify;
  font-size: 18px;
  color: #272829;
}

.FAQH {
  display: flex;
  flex-direction: row;
  text-align: justify;
  font-size: 20px;
  color: #272829;
}

.imgFAQplus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  max-height: 100%;
  /* height: 800px; */
  gap: 15px;
  object-fit: contain;
  /* /Evita que la imagen se distorcione/ */
  margin-top: 10px;
  margin-bottom: 15px;
  background-blend-mode: overlay;
  background-size: auto;
  gap: 20px;
  border-radius: 8px;
  transition: transform 0.3s ease;
  /* Transición suave */
}

.imgFAQplus:hover {
  transform: scale(1.1);
  /* Aumenta el tamaño al 110% */
}

.dinamico {
  overflow: hidden;
}

/* Prueba de Responsive de media query para pantalla Proyecto1.html */
/* Media Query para dispositivos con resolucion maxima de 768px */
@media (max-width: 768px) {
  .navegacion-principal__menu a {
    padding: 50px;
    text-align: center;
  }

  .navegacion-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tarjetas-noticias,
  .tarjetas-noticias-dos {
    flex-direction: column;
  }

  .cabecera {
    background-attachment: scroll;
  }

  .contenedor {
    width: 100%;
    padding: 0 10px;
  }
}
/* Media Query para dispositivos con resolucion maxima de 480px */
@media (max-width: 480px) {
  .navegacion-principal__menu a {
    padding: 20px;
    text-align: center;
  }

  .cabecera h2,
  .cabecera p {
    font-size: smaller;
  }

  .boton {
    padding: 10px;
    width: 100%;
    margin: 10px;
  }
}
